<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            background-color: rgb(132, 201, 197); /* Light background */
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        h1 {
            color: #2e6b2e; /* Dark text color */
            margin-bottom: 20px;
        }
        .container {
            margin-top: 20px;
        }
        .hidden {
            display: none; /* Class to hide elements */
        }
        #btn {
            padding: 10px;
            font-size: 14px;
            border-radius: 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: #2e6b2e;
            font-weight: 700;
        }
        .table {
            padding: 40px;
            margin: 20px 0; /* Space above and below the table */
        }
        .table th {
            padding: 20px;
            text-align: center; /* Center align table headers */
        }
        .table input{
            width: 80%;
            padding: 20px;
            font-size: 15px;
        }
        .table select{
            width: 100%;
            padding: 10%;
            font-size: 16px;
        }
        .table option{
            font-size: 16px;
        }
        .table #sub{
            width: 100%;
            font-size: 16px;
            color: white;
            background-color: rgb(90, 7, 7);
        }
    </style>
</head>
<body>
   <div align="center">
       <h1>BOOK STORE DETAILS</h1>
       <form action="/updateRecord" method="post">
        <input type="hidden" name="editid" value="<%= data.id %>">
               <table border="1" class="table">
                   <tr>
                       <th>BOOK NAME:-</th>
                       <td><input type="text" name="name" value="<%= data.name %>"></td>
                   </tr>

                   <tr>
                    <th>BOOK PRICE:-</th>
                    <td><input type="number" name="price" value="<%= data.price %>"></td>
                </tr>

                <tr>
                    <th>BOOK PAGES:-</th>
                    <td>
                        <select name="pages">
                            <option value="">---select pages---</option>
                            <option value="200-400" <%= data.pages === '200-400' ? 'selected' : '' %>>200-400</option>
                            <option value="400-600" <%= data.pages === '400-600' ? 'selected' : '' %>>400-600</option>
                            <option value="600-800" <%= data.pages === '600-800' ? 'selected' : '' %>>600-800</option>
                            <option value="800-1000" <%= data.pages === '800-1000' ? 'selected' : '' %>>800-1000</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>BOOK AUTHOR:-</th>
                    <td><input type="text" name="author" value="<%= data.author %>"></td>
                </tr>

                <tr>
                    <th></th>
                    <td><input type="submit" id="sub"></td>
                </tr>
               </table>
       </form>
   </div>
</body>
</html>